.contact-card {
    border-radius: 3vw 4vw 8vw 2vw;
    padding: 4% 8% 4% 8%;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    margin: 30px;
    text-align: center;
    width: 200px;
    height: 300px;
    cursor: pointer;
}

.contact-card:hover {
    box-shadow:0 2px 8px rgba(0, 0, 0, 0.3);
}

.contact-card h2 {
    font-size: 35px;
    color: #3a3ab9;
}
.contact-card h3 {
    font-size: 25px;
    padding-bottom: 13px;
}

.contact-card svg {
    font-size: 55px;
    padding-bottom: 25px;
}

.contact-card p {
    cursor: text;
}

