.footer-top {
  background-color: #36d1dc;
  display: flex;
  text-align: center;
  padding: 0 3pc 0 3pc;
  color: white;
}

.footer-top li {
  font-size: 25px;
}

.icons a {
  color: white;
}

.icons li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.4pc;
  width: 3.4pc;
  /* padding: .5pc; */
  /* background-color: teal; */
  box-shadow: 10px 5px 5px teal;
  border-radius: 50%;
}

.icons {
  display: flex;
}

ul.icon {
  align-items: center;
  padding: 4px;
}

@media only screen and (min-width: 825px) {
    .footer-top {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 825px) {
    .footer-top h4 {
    display: none;
    }

    .footer-top {
        justify-content: center;
    }
}
